:root {
    --bodyColor: white;
    --textColor: black;
    --footerColor: gray;
    --sliderColorInner: white;
    --sliderColorBackgroundActive: rgb(64, 64, 64);
    --sliderColorBackgroundNotActive: lightgray;
}

body {
    background-color: var(--bodyColor);
    font-family: 'Courier New', Courier, monospace;
    display: table;
    margin: 0 auto;
}

hr {
    border-color: var(--textColor);
}

h1, h4, h3 {
    text-align: center;
    color: var(--textColor);
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

div, button, br {
    clear: both;
}

div {
    padding: 5px 0px 5px 0px
}

button {
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
}

div label {
    float: left;
    padding: 2px;
    margin-right: 15px;
}

div input {
    float: right;
}

div input[type="checkbox"] {
    padding: 6px;
    border-width: 2px;
    border-color: lightgray;
}

div input[type="checkbox"]:hover {
	filter: brightness(0.95);
}

div input[type="checkbox"]:checked {
	background-color: orchid;
}

div input:focus {
    outline: none;
}

div input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-radius: 4px;
}

div input {
    background-color: ivory;
}

#redirectBtn {
    background-color: limegreen;
    border-color: green;
    color: var(--textColor);
    min-width: 150px;
}

#redirectBtn:hover {
    background-color: green;
}

label {
    color: var(--textColor);
}

p {
    text-align: center;
    font-size: 15px;
    color: var(--footerColor);
}

a {
    text-decoration: none;
    color: orangered;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sliderColorBackgroundNotActive);
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sliderColorInner);
}
  
input:checked + .slider {
    background-color: var(--sliderColorBackgroundActive);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--sliderColorBackgroundActive);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}